footer{
  padding: 48px 32px 32px;
  background-color: rgb(243, 244, 246);
}
.foot-links{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li{
  padding: 0;
  margin: 12px 0 0;
  cursor: pointer;
}
.copyrights{
  color: #4B5563;
  font-size: 12px;
  padding: 32px 0 0;
  margin: 92px 0 0;
  border-width: .8px 0 0;
  border-color: #4B5563;
}

.social-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 70px;
}


.group-links-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.group-links{
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.group-links .list{
  margin-left: 25px;
}
.group-links img{
  cursor: pointer;
}
.social-links img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media(max-width: 640px) {
  footer{
    padding: 32px 24px;
  }
  .foot-links img{
    height: 48px;
  }
  .foot-links p{
    font-size: 14px;
  }
  .social-links{
    height: 24px;
    margin: 24px 0 0 0;
  }
  .social-links img{
    height: 100%;
  }

  .group-links-container{
    width: 100%;
    column-gap: 1fr;
    margin: 64px 0 0 0;
  }
  .group-links{
    display: block;    
    margin: 0;
  }
  .group-links .list{
    margin: 0;
  }
  .list:first-child{
    margin: 0 0 40px 0;
  }
  .copyrights{
    margin: 64px 0 0 0;
  }
}

@media(min-width: 641px) and (max-width: 767px) {
}