*{
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 14px;
  color: #4f5563;
}

body{
  margin: 0;
  padding: 0;
  
}

img{
  display: block;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 49px;
  width: 204px;
  padding: 12px 24px;
  text-align: center;
  background-color: white;
  /* border: 1px rgb(255, 255, 255) solid; */
  border: .8px rgb(198, 198, 198) solid;
  border-radius: 4px;
  cursor: pointer;
}