header {
  background-color: lightblue;
  display: flex;
  margin: 10px auto;
  max-width: 1216px;
  height: 64px;
  padding: 8px 32px;

}

.odin-icon img{
  padding: ;
  max-height: 48px;
}
.navbar{
  height: 48px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
  color: #6B7280;
}
.navbar img{
  height: 24px;
  width: 24px;
  filter: invert(40%) sepia(12%) saturate(15%) hue-rotate(185deg);
}
.navbar div{
  padding: 4px 4px 0;
}
.navbar button{
  width: auto;
  background-color: #0F766E;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  line-height: 20px;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 32px 15px;
}

.intro h1{
  font-size: 60px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  width: 896px;
}
.intro span{
  font-size: 60px;
  color: rgb(169, 121, 43)
}

.intro p{
  width: 576px;
  height: 56px;
  font-size: 18px;
  text-align: center;
  color: gray;
  font-weight: 500;
}
